Package: ficl
Section: misc
Priority: extra
Maintainer: Andrew Holt
Architecture: amd64
Version: 5.4.1
Description: ficl
 ficl - Forth Inspired Control Language
 5.2.1 8 Nov 2014 - Configured for a minimal build, plus a static executable ficls
 5.2.4 Added SYSV_IPC back in
 5.2.5 Added ini file functions.
 5.3.0 Added POSIX IPCs.
 5.3.1 More POSIX stuff
 5.3.2 Added -d (dictionary size) option.
 5.4.0 Added MQTT words.

