Package: ficl
Section: misc
Priority: extra
Maintainer: Andrew Holt
Architecture: armhf
Version: 5.3.2
Description: ficl
 ficl - Forth Inspired Control Language
 5.2.1 8 Nov 2014 - Configured for a minimal build, plus a static executable ficls
 5.2.4 Make all builds have the same features (possibly no libmodbus)
 5.2.5 Added ini file functions.
 5.3.1 More POSIX stuff
 5.3.2 Added -d (dictionary size) option.

